<launch>
<include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
<include file="$(find freenect_launch)/launch/freenect.launch"/>

<node pkg="depthimage_to_laserscan" type = "depthimage_to_laserscan" name="depthimage_to_laserscan">
	<remap from="image" to="camera/depth/image_raw"/>
</node>
</launch>
